.fondomenu{
    background-color: $color-principal01;
    
    .flexmenu{
        display: flex;
        justify-content: center;
    }
}

.contactoMargen{
    @include medidas (none, 150px, none, none)

 }

.bloqueCentro{
    justify-content: center;
 }

.magenesCont{
    width: 500px;
    margin: auto;
}

.conteinerBlog{
    @include medidas (60px, none, none, none)

}

.conteinerBio{
    @include medidas (60px, 250px, 250px, 40px);
}

.estiloBloque{   
    justify-content: center;
    align-items: center;
 }